@using RZA_WebsiteJS.Models
@using RZA_WebsiteJS.Services
@using RZA_WebsiteJS.Utilities
@inject AttractionService AttractionService
@inject UserSession UserSession
@inject NavigationManager NavigationManager
@inject TicketbookingService TicketbookingService
@inject TicketService TicketService

@page "/Tickets"

<link rel="stylesheet" a href="/css/styles.css" />

<div class="title-text">
    <h1>BOOKING IN PROGRESS...</h1>
    <p>Zoo Location: Glanwydden, Llandudno, LL31 9JP</p>
</div>

@if (attractions != null)
{
    <section class="ticket-container">
        <div class="ticket-card">
            <div class="ticket-side">
                <h2>Tickets:</h2>
                @foreach (Attraction attraction in attractions)
                {
                    <div class="ticket-content">
                        <div class="text">
                            @attraction.Name
                            <p style="text-align: left">£@attraction.Entryfee</p>
                        </div>
                        <div class="bsk-btn">
                            <button class="addBasket-btn" @onclick="@(e => AddTicket(attraction.AttractionId))">+</button>
                        </div>
                    </div>
                }

                <input type="date" class="bk-date" value="@DateTime.Now.ToString("yyyy-MM-dd")" min=@DateTime.Now.ToString("yyyy-MM-dd") =@ticketDate>

                <label style="color: white; background-color: #345A54">@message</label>
                <button class="book-btn" @onclick=@BookTickets>Book Tickets</button>
            </div>
        </div>
    </section>
}
else
{
    <div>no attractions</div>
}

@if (tickets != null && tickets.Count != 0)
{
    @foreach (Ticket ticket in tickets)
    {
        <div>@ticket.TicketId, @ticket.AttractionId</div>
    }
}


@code {
    List<Attraction> attractions;
    List<Ticket> tickets;
    DateOnly ticketDate;
    Ticketbooking newTicketbooking;
    private string message;

    protected override async Task OnInitializedAsync()
    {
        if (UserSession.UserId == null || UserSession.UserId == 0)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            attractions = await AttractionService.GetAttractionsAsync();
            tickets = new List<Ticket>();
            newTicketbooking = new Ticketbooking();
        }
    }
    private void AddTicket(int attractionId)
    {
        Ticket newTicket = new Ticket();
        newTicket.AttractionId = attractionId;
        tickets.Add(newTicket);
    }
    private async Task BookTickets()
    {

        if (tickets.Count == 0)
        {
            message = "Please Add Something in Your Basket";
            return;
        }

        //this one books all the tickets in the basket
        Ticketbooking newTicketbooking = new Ticketbooking();
        newTicketbooking.CustomerId = UserSession.UserId;
        newTicketbooking.DateBooked = ticketDate;
        newTicketbooking.Date = DateOnly.FromDateTime(DateTime.Now);
        await TicketbookingService.AddTicketbookingAsync(newTicketbooking);
        foreach (Ticket ticket in tickets)
        {
            ticket.Ticketbooking = newTicketbooking;
            await TicketService.AddTicketAsync(ticket);
        }

    }
}
